<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
</head>
<body bgcolor="white">

Component3D objects that update the scene graph from the models and dispatch mouse events to controllers.

The views in this package are inherited from Component3D objects and handle all of the "drawing" for our prototype.  Of course, the "drawing" is really about creating, updating, and animating the scene graph as necessary.  The views are also responsible for listening to events from looking glass and dispatching these to the controllers.  The idea is that the views package should try to isolate the rest of the system from project looking glass.  Ideally, the model components could work with any future version of looking glass.
</body>
</html>

